html {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Unna", serif;
  text-align: center;
  background-image: url(./images/mads-schmidt-rasmussen-xfngap_DToE-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3 {
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
  text-transform: capitalize;
}
h2 {
  padding: 1rem;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
}

li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

header {
  display: flex;
  background-color: #002a15;
  color: #fff;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0.5rem;
}

.logo {
  align-items: center;
  display: flex;
  height: 80%;
}

.logo a {
  text-decoration: none;
  height: 100%;
  width: auto;
}

.logo img {
  height: 100%;
  width: auto;
}

.navigation {
  padding-right: 2rem;
}
.navigation ul {
  list-style: none;
}
.navigation li {
  display: inline-block;
  padding-left: 1rem;
}

.name {
  color: black;
  height: auto;
  position: relative;
  top: 4.5rem;
  padding: 3rem 2rem 10rem 2rem;
}

.name h1 {
  padding: 1rem;
  font-size: 4rem;
}
.name p {
  font-size: 1rem;
  line-height: 2;
}

#our-offers {
  /*background-color: #e7ece9;*/
  color: black;
  padding-top: 60px;
}

#our-offers p {
  padding: 0.5rem;
}

.offers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}

.trip {
  height: 22.2rem;
  width: 16.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  /*background-color: #0e5331;*/
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  color: black;
}

.trip img {
  height: 70%;
  width: auto;
  border-radius: 10px;
}

.trip a {
  color: black;
}

.trip:hover {
  box-shadow: #ccc 5px 10px;
}

#our-mission {
  background-color: #002a15;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 0.5rem;
  margin: 0 auto;
}

.missions {
  text-align: justify;
  max-width: 16.5rem;
  padding: 2rem 3rem;
  line-height: 1.5rem;
  color: #e7ece9;
}

.uppercase {
  text-transform: uppercase;
}

#our-team {
  color: #fff;
  padding: 60px;
}

.team {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
}

.staff {
  height: 8.5rem;
  width: 375px;
  margin: 1rem 1rem;
  padding: 0.5rem;
  background-color: #e7ece9;
  border-radius: 10px;
  display: flex;
  transition: transform linear 0.25s;
}
.staff:hover {
  transform: scale(1.2);
}

.staff img {
  height: auto;
  width: 8rem;
  border-radius: 10px;
  padding-right: 5px;
}

#contact {
  background-color: #fff;
  padding: 60px 10px;
}

button {
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #54a87e;
  color: #002a15;
  border-radius: 10px;
  text-decoration: none;
  border: none;
}

button:hover {
  cursor: pointer;
}
button:active {
  background-color: #002a15;
  color: #54a87e;
}

footer {
  background-color: #002a15;
  color: #afbcb5;
  padding: 0.5rem;
  text-align: left;
}

/* Media queries */
@media only screen and (max-width: 550px) {
  html {
    font-size: 16px;
  }
  .staff {
    display: block;
    height: auto;
    width: 250px;
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 14px;
  }
}
