* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #ffdd00;
  position: fixed;
  z-index: 100;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
}

.left {
  flex: 1;
  padding-left: 20px;
}

.right {
  float: right;
  padding-right: 20px;
}

body {
  /* background-image: url(./images/SparkleYourLife.png); */
  color: black;
  font-size: 16px;
}

p {
  font-size: 16px;
}

.breadcrumb {
  color: black;
  position: relative;
  top: 60px;
  display: inline-flex;
  font-size: 12px;
  margin-left: 10px;
}
.breadcrumb ul {
  margin-left: 5px;
}
.breadcrumb li {
  list-style-type: none;
}
.breadcrumb li a {
  text-decoration: none;
  color: black;
}
.presentation {
  height: 180px;
  align-items: center;
  display: flex;
  text-align: left;
  position: relative;
  top: 30px;
  margin: 80px 20px;
}

.picture {
  width: 50%;
  display: flex;
}

.picture img {
  height: 180px;
  width: auto;
  border-radius: 50%;
  margin: 0 auto;
}

.projects {
  margin: 80px 0;
  padding: 0 10px;
  text-align: center;
  background-color: #830051;
  color: white;
}

.projects-title {
  padding: 20px;
}
.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-box {
  background-color: #ffdd00;
  color: black;
  height: auto;
  width: 300px;
  margin: 20px;
  border: 1px solid white;
  padding: 5px;
  font-style: normal;
  box-shadow: 8px 8px 1px white;
}
.project-box:hover {
  margin: 25px;
  transition: all 0.2s linear;
}
.project-name {
  padding: 4px;
  border-bottom: 1px solid white;
}
.project-content {
  padding: 10px;
}
