html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #830051;
  position: fixed;
  z-index: 100;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-weight: bold;
}

.header-left {
  padding-left: 20px;
  font-weight: lighter;
  display: block;
}

.header-right {
  padding-right: 20px;
  color: #fff;
  display: block;
}

.header-right a {
  color: #fff;
  padding: 10px;
}

/* Off-screen menu */
.small-screen {
  display: none;
  flex-direction: column;
}

/* Hamburger */
.hamburger {
  position: relative;
  display: none;
  width: 60px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  margin: 5px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

/* Mobile nav */
.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #620b40;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 auto 16px;
  display: block;
  width: 100%;
  max-width: 200px;
  text-align: center;
  padding: 0.75rem 1rem;
}

/*body styles */
body {
  color: black;
  background-image: url(./images/SparkleYourLife.png);
}

.breadcrumb {
  color: #fff;
  position: relative;
  top: 60px;
  display: inline-flex;
  font-size: 12px;
  margin-left: 10px;
}
.breadcrumb ul {
  margin-left: 5px;
}
.breadcrumb li {
  list-style-type: none;
}
.breadcrumb li a {
  text-decoration: none;
  color: #fff;
}
.presentation {
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 30px;
  margin: 80px 20px;
  color: #fff;
  color: black;
}
.presentation-text {
  padding: 20px;
  text-align: left;
}

.presentation-text h1 {
  padding: 20px 0;
}

.presentation-text a {
  text-decoration: underline;
}

.picture {
  width: 50%;
  display: flex;
}

.picture img {
  height: 250px;
  width: auto;
  border-radius: 50%;
  margin: 0 auto;
}

#projects {
  padding: 50px 10px;
  text-align: center;
  /*background-color: #ffdd00;*/
  /*background-image: url(./images/SparkleYourLife.png);*/
  background-color: #830051;
  color: white;
}

.projects-title {
  padding-top: 20px;
}
.projects-title p {
  font-weight: bold;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.project-box {
  background-color: #830051;
  color: white;
  height: 150px;
  width: 300px;
  margin: 20px;
  padding: 5px;
  font-style: normal;
  border: 1px solid white;
  border-radius: 5px;
}
.project-box a {
  color: white;
}
.project-box:hover {
  box-shadow: 8px 8px 1px #ffdd00;
  transition: all 0.2s linear;
  cursor: pointer;
  text-decoration: none;
}
.project-name {
  padding: 4px;
  border-bottom: 1px solid white;
}
.project-content {
  padding: 10px;
  text-align: center;
}

#about {
  line-height: 2;
  text-align: center;
  background-color: white;
  color: black;
  padding: 50px 50px;
  /*border-top: 1px solid black;*/
}

#about p {
  width: 40%;
  margin: 0 auto;
}

#about i {
  margin: 10px;
  color: #620b40;
}

footer {
  background-color: #620b40;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

button {
  background-color: #830051;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 15px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-size: 1.25rem;
  text-align: center;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
}

#contact a {
  color: white;
  padding: 10px;
}

#contact a:hover {
  color: #830051;
  text-decoration: none;
}

.links {
  padding: 0 20px;
}

/* Media queries */
@media only screen and (max-width: 530px) {
  .picture img {
    height: 100px;
    width: auto;
  }
  #about p {
    width: 70%;
  }
}

@media only screen and (max-width: 1024px) {
  header .small-screen {
    display: flex;
  }
  .hamburger {
    display: block;
  }
  .header-left {
    display: none;
  }
  .header-right {
    display: none;
  }
}
